fastapi==0.99.1
uvicorn[standard]==0.23.2
pydantic==1.10.12
sqlmodel==0.0.8
alembic==1.12.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sentence-transformers==2.2.2
chromadb==0.4.3
rapidfuzz
httpx
python-multipart>=0.0.7
redis
celery==5.3.1
